@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie List";
}

@model IEnumerable<MovieInfo>

<br /><br /><br />
<div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Edited</th>
                <th>Lent To</th>
                <th>Notes</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
            <tr>
                <td>@x.Category</td>
                <td>@x.Title</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.LentTo</td>
                <td>@x.Notes</td>

                <td>
                    <form asp-action="EditMovie" method="post">
                        <input type="hidden" name="MovieId"
                               value="@x.MovieId" />
                        <button type="submit" class="btn btn-sm btn-dark">
                            Update
                        </button>
                    </form>
                </td>

                <td>
                    <form asp-action="DeleteMovie" method="post">
                        <input type="hidden" name="MovieId"
                               value="@x.MovieId" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Remove
                        </button>
                    </form>
                </td>

            </tr>
                
            }
        </tbody>
    </table>
</div>